<div class="sidebar">
    
    <div class="sidebar-logo">
        <h2>SIGEP</h2>
        <p>Sistema de Gestão de Propinas</p>
    </div>

    <nav>

        <button class="tab-btn active" data-tab="inicio">
            <i class="fas fa-home"></i>
            Início
        </button>

       

        <button class="tab-btn" data-tab="alunos">
            <i class="fas fa-users"></i>
            Alunos
        </button>

        <button class="tab-btn" data-tab="cursos">
            <i class="fas fa-book"></i>
            Cursos
        </button>

        <button class="tab-btn" data-tab="turmas">
            <i class="fas fa-graduation-cap"></i>
            Turmas
        </button>

        <button class="tab-btn" data-tab="pagamentos">
            <i class="fas fa-wallet"></i>
            Pagamentos
        </button>

        <button class="tab-btn" data-tab="relatorios">
            <i class="fas fa-chart-bar"></i>
            Relatórios
        </button>

        <button class="tab-btn" data-tab="configuracoes">
            <i class="fas fa-cog"></i>
            Configurações
        </button>

    </nav>

    <div class="sidebar-footer">
        <strong>Colégio Sulipe</strong>
        <small>Ano lectivo 2025/2026</small>
    </div>
    </div>

</div>